*{
  margin: 0;
  padding: 0;
}
.container{
  background-color: black;
 height: 100vh;

 display: flex;
}
img{
  width: 40%;
}
.wrapper{
  background-color: white;
  width: 600px;
  height: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1{
  font-size: 44px;
  font-weight: 600;
  color: rgb(61, 10, 108);
  margin: 40px 0;
}
button{
  height: 40px;
  width: 120px;
  margin: 28px 0;
  border-radius: 5px;
  background-color: rgb(10, 36, 75);
 border: 2px solid rgb(82, 54, 3);
 font-size: 20px;
 color: rgb(223, 240, 246);
}
input {
  margin: 20px 0;
  width: 300px;
  padding: 8px;
}

input:focus-visible {
  outline: none;
}
